# 课后作业四

1. `user.txt` 数据中有一些同学的性别、年龄、身高等数据：
+ 读取数据，按性别分别计算平均身高，平均年龄

In [46]:
user <- read.table('user.txt', header = T)
user
cat('Female average age is', mean(user[which(user$Sex=='F'),]$Age), '\n')
cat('Female average height is', mean(user[which(user$Sex=='F'),]$Height), '\n')
cat('Male average age is', mean(user[which(user$Sex=='M'),]$Age), '\n')
cat('Male average height is', mean(user[which(user$Sex=='M'),]$Height), '\n')

   Name    Sex Age Height
1  Alice   F   13  56.5
2  Becka   F   13  65.3
3  Gail    F   14  64.3
4  Karen   F   12  56.3
5  Kathy   F   12  59.8
6  Mary    F   15  66.5
7  Sandy   F   11  51.3
8  Sharon  F   15  62.5
9  Tammy   F   14  62.8
10 Alfred  M   14  69.0
11 Duke    M   14  63.5
12 Guido   M   15  67.0
13 James   M   12  57.3
14 Jeffrey M   13  62.5
15 John    M   12  59.0
16 Philip  M   16  72.0
17 Robert  M   12  64.8
18 Thomas  M   11  57.5
19 William M   15  66.5

Female average age is 13.22222
Female average height is 60.58889
Male average age is 13.4
Male average height is 63.91

+ 转换成列表，并利用 `sapply` 函数计算平均年龄和身高

In [16]:
user <- read.table('user.txt', header = T)
data <- as.list(user[,3:4])
data
sapply(data, mean)

$Age
 [1] 13 13 14 12 12 15 11 15 14 14 14 15 12 13 12 16 12 11 15

$Height
 [1] 56.5 65.3 64.3 56.3 59.8 66.5 51.3 62.5 62.8 69.0 63.5 67.0 57.3 62.5 59.0
[16] 72.0 64.8 57.5 66.5

     Age   Height
13.31579 62.33684

+ 按照身高分为两个等级 A，B，并对其姓名进行排序

In [39]:
user <- read.table('user.txt', header = T)
A <- user[which(user$Height >= 60.0),]
A[order(A[,1]),]
B <- user[which(user$Height < 60.0),]
B[order(B[,1]),]

   Name    Sex Age Height
10 Alfred  M   14  69.0
2  Becka   F   13  65.3
11 Duke    M   14  63.5
3  Gail    F   14  64.3
12 Guido   M   15  67.0
14 Jeffrey M   13  62.5
6  Mary    F   15  66.5
16 Philip  M   16  72.0
17 Robert  M   12  64.8
8  Sharon  F   15  62.5
9  Tammy   F   14  62.8
19 William M   15  66.5

   Name   Sex Age Height
1  Alice  F   13  56.5
13 James  M   12  57.3
15 John   M   12  59.0
4  Karen  F   12  56.3
5  Kathy  F   12  59.8
7  Sandy  F   11  51.3
18 Thomas M   11  57.5

2. 编写一个函数，提取输入矩阵的奇数行和偶数列构成的子矩阵

In [50]:
myMatrix <- function(matrix0){
    a <- c()
    for (i in 1:ncol(matrix0)) {
        if (i %% 2 == 0) {
            for (j in 1:nrow(matrix0)) {
                if (j %% 2 == 1) {
                    a <- c(a, matrix0[j,i])
                }
            }
        }
    }
    matrix1 <- matrix(a,nrow = floor(nrow(matrix0) / 2))
    return (matrix1)
}
b <- matrix(c(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16), nrow = 4)
b
b <- myMatrix(b)
b

     [,1] [,2] [,3] [,4]
[1,] 1    5     9   13
[2,] 2    6    10   14
[3,] 3    7    11   15
[4,] 4    8    12   16

     [,1] [,2]
[1,] 5    13
[2,] 7    15

3. $\pi$ 的估计：
考虑服从 $(0,1)$ 区间上均匀分布的独立随机变量 $X,Y$ 因此，二维随机变量 $(X,Y)$ 的联合概率密度为
$$
	f(x,y)=\begin{cases}
    1,\ 0<x<1,\ 0<y<1\\
    0,\ otherwise
    \end{cases}
$$
则 $P\{X^2+Y^2\leq 1\}=\frac{\pi}{4}$
> 提示：产生均匀分布随机变量 `runif()`

In [77]:
x <- runif(10000, min = 0, max = 1)
y <- runif(10000, min = 0, max = 1)
result <- x ^ 2 + y ^ 2 <= 1
oneFourthPi <- length(result[which(result == TRUE)]) / 10000
print(oneFourthPi * 4)

[1] 3.1416

4. R 语言编程错误分析
    + 函数的参数输入顺序错误，输入的数量错误
        + 根据错误信息修改参数或查看帮助文档
    + 调用函数时没有使用 `()`
    + 使用包前没有加载(`library`)
    + 引号使用不当